<div *ngIf="currentSurvey">
  <p class="h1">
    Details of survey {{currentSurvey.name}}
  </p>
</div>


<div class="row">
  <div [ngClass]="{'col-md-12': surveyDetail.type == 'qcm', 'col-md-6': surveyDetail.type != 'qcm'}"
       *ngFor="let surveyDetail of surveyDetailList">
    <div *ngIf="surveyDetail.type=='qcm'">
      <div class="card border-secondary mb-3">
        <div class="card-header text-center">{{surveyDetail.label}}</div>
        <div class="card-body text-dark">
          <div class="row">
            <div class="col-3">
              <table class="table">
                <thead class="thead-light">
                <tr>
                  <th scope="col" (click)="sortQCM(surveyDetail.result, 'name')">Name <i
                    class="fa fa-chevron-up align-items-end"
                    *ngIf="sortQCMNameDirection === 'asc'"></i>
                    <i class="fa fa-chevron-down" *ngIf="sortQCMNameDirection === 'desc'"></i></th>
                  <th scope="col" (click)="sortQCM(surveyDetail.result, 'number')">Number <i
                    class="fa fa-chevron-up align-items-end"
                    *ngIf="sortQCMNumberDirection === 'asc'"></i>
                    <i class="fa fa-chevron-down" *ngIf="sortQCMNumberDirection === 'desc'"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let survey of surveyDetail.result">
                  <td>{{survey[0]}}</td>
                  <td>{{survey[1]}}</td>
                </tr>
                </tbody>
              </table>

            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-2">
                  <i class="fa fa-arrow-circle-left" (click)="previousGraph()"></i>
                </div>
                <div class="col-8">
                  <p class="h2 text-align-center">{{chartType}}</p>
                </div>
                <div class="col-2">
                  <i class="fa fa-arrow-circle-right" (click)="nextGraph()"></i>
                </div>
              </div>
              <div style="display: block">
                <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="chartType"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="surveyDetail.type=='numeric'">
      <div class="card border-secondary mb-3">
        <div class="card-header text-center">{{surveyDetail.label}}</div>
        <div class="card-body text-dark">
          <button type="button" class="btn btn-lg btn-primary" disabled>{{surveyDetail.result}}</button>
        </div>
      </div>
    </div>
    <div *ngIf="surveyDetail.type=='date'">
      <div class="card border-secondary mb-3">
        <div class="card-header text-center">{{surveyDetail.label}}</div>
        <div class="card-body text-dark">
          <table class="table">
            <thead class="thead-light">
            <tr>
              <th scope="col" (click)="sortDate(surveyDetail.result, 'date')">Date <i class="fa fa-chevron-up"
                                                                                      *ngIf="sortDateDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" *ngIf="sortDateDirection === 'desc'"></i></th>
              <th scope="col" (click)="sortDate(surveyDetail.result, 'hours')">Hours <i class="fa fa-chevron-up"
                                                                                        *ngIf="sortHoursDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" *ngIf="sortHoursDirection === 'desc'"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let surveyDate of surveyDetail.result">
              <td>{{surveyDate | date : "dd/MM/yyyy"}}</td>
              <td>{{surveyDate | date : "HH:mm"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
