<!--<p>
  {{currentSurvey.code}} {{currentSurvey.name}}
</p>-->


<div *ngFor="let surveyDetail of surveyDetailList">

  <div *ngIf="surveyDetail.type=='numeric'">
      <p>{{surveyDetail.result}}</p>
  </div>
  <div *ngIf="surveyDetail.type=='date'">
    <table>
      <tr>
        <td>Date</td>
        <td>Hours</td>
      </tr>
      <tr *ngFor="let surveyDate of surveyDetail.result">
        <td>{{surveyDate | date : "dd/MM/yyyy"}}</td>
        <!--<td>{{survey.code}}</td>-->
        <td>{{surveyDate | date : "HH:mm"}}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="surveyDetail.type=='qcm'">
    <div style="display: block">
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>


<!--<div style="display: block">
  <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>-->




